.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.statusTrue {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
}

.statusFalse {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}
